<div class="investors-page">
  <div class="row">
    <div class="col-xl-9">
      <div class="investors-wrapper white-wrapper" *ngIf="!activeInvestorId">

        <form class="search-form" [formGroup]="searchForm">
          <fieldset class="form-group">
          <input
            formControlName="search"
            placeholder="Search"
            [(ngModel)]="searchField"
            (ngModelChange)="updateSearch()"
            class="search-field form-control form-control-lg">
            <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
          </fieldset>
        </form>

        <div class="empty-list" *ngIf="!usersList.length && !pending">Investor's list is empty</div>
        <ul class="investors-list">
          <li *ngFor="let user of usersList" (click)="selectInvestor(user._id)" class="investor-item">
            <div class="user-icon"
                 [ngClass]="user.kycStatus">
              {{user.profile[0].initials || 'UA'}}</div>
            <div class="user-info">
              <div class="name-data">
                <span class="name">{{user.profile[0].fullName ? user.profile[0].fullName + ' - ' : ''}}</span>{{user.email}}
              </div>
              <div class="icons">
                <span class="step1" [ngClass]="{'default': !user.kycStatus}">
                  <span class="icon-wrapper" [ngClass]="user.step1">
                    <svg class="icon"><use [attr.xlink:href]="'#icon-' + (statusIconsMap[user.step1] || 'small-check')"></use></svg>
                  </span>
                  <span class="name">Step 1</span>
                </span>
                <span class="step2" [ngClass]="{'default': !user.step2}">
                  <span class="icon-wrapper" [ngClass]="user.step2">
                    <svg class="icon"><use [attr.xlink:href]="'#icon-' + (statusIconsMap[user.step2] || 'small-check')"></use></svg>
                  </span>
                  <span class="name">Step 2</span>
                </span>
              </div>
            </div>
            <div class="count">0 {{'main.crypto' | translate}}</div>
          </li>
        </ul>
      </div>

      <app-investor *ngIf="activeInvestorId" [(investor)]="activeInvestorId" (investorChange)="updateInvestor($event)"
                (getInvestors)="getUsersList()" [investors]="usersList"></app-investor>
    </div>
    <div class="col-xl-3">
      <investors-filter [activeFilter]="activeFilter"></investors-filter>
    </div>

  </div>
</div>
