@import "../../assets/variables";
@import "../../assets/mixins";

.investors-page {
  .investors-wrapper {
    overflow: hidden;
    padding: 0;
  }
  .search-form {
    width: 100%;
    position: relative;
    .search-field {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid $gray-border;
      padding-left: 40px;
    }
    .icon-search {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      color: $text;
    }
    .form-group {
      margin: 0;
    }
  }
  .empty-list {
    padding: 15px;
  }
  .investors-list {
    & > li {
      border-bottom: 1px solid $gray-border;
      &:last-child {
        border: none;
      }
    }
  }
  .investor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $block-bg;
    position: relative;
    padding: 15px 15px 15px 70px;
    cursor: pointer;
    &:hover {
      background: $light-bg;
    }
    .user-icon {
      @include user-info(40px);
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
    .count {
      font-size: 16px;
      font-family: 'sf-ui-text-medium', sans-serif;
      color: $text;
    }
  }
  .user-info {
    color: $text;
    .name {
      color: $text-head;
      font-family: 'sf-ui-text-medium', sans-serif;
    }
  }

  .icons {
    margin-top: 10px;
    line-height: 1;
    & > span {
      padding-right: 10px;
    }
    .default {
      .icon-wrapper {
        background: $gray !important;
      }
    }
    .icon-wrapper {
      display: inline-block;
      vertical-align: top;
      width: 10px;
      height: 10px;
      padding: 2px;
      border-radius: 50%;
      color: white;
      &.accepted {
        background: $green;
      }
      &.review {
        background: $orange;
      }
      &.declined {
        background: $red;
      }
      .icon {
        width: 6px;
        height: 6px;
      }
    }
    .name {
      font-size: 12px;
      color: $text;
      line-height: 12px;
      vertical-align: top;
    }
  }

  @media (max-width: 700px) {
    .investor-item {
      padding-bottom: 30px;
      .count {
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
    }
  }
}
