@import "../../../assets/variables";

.modal-dialog {
  .modal-footer {
    display: block;
    text-align: center;
    border: none;
    .btn {
      margin: 0 5px;
      width: 100px;
      background: $green;
      text-transform: uppercase;
      &.btn-cancel {
        background: $red;
      }
    }
  }
}
