<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      Accept Accreditation
    </div>
    <div class="modal-separator"></div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-cancel" (click)="close()" >Cancel</button>
      <button type="button" class="btn btn-primary" (click)="confirm()">Accept</button>
    </div>
  </div>
</div>
