@import "../../../assets/variables";

.investors-filter {
  padding: 5px 0;
  .filters-list {
    li {
      a {
        display: block;
        padding: 7px 10px;
        color: $main-color;
        border-left: 2px solid transparent;
        &:hover, &.active {
          background: $light-bg;
          color: $text-head;
        }
        &.active {
          border-color: $main-color;
          font-family: 'sf-ui-text-medium', sans-serif;
        }
      }
    }
  }
}

