<div class="investors-filter white-wrapper">
  <ul class="filters-list">
    <li *ngFor="let filter of filters; let i = index">
      <a href="#" [routerLink]="['/investors', {filter: filter.url}]"
         [ngClass]="{active: (filters[i].url == activeFilter)}">{{filter.name}}</a>
    </li>
  </ul>
</div>
