@import "../../../assets/variables";
@import "../../../assets/mixins";
.investor-card {
  padding: 0;
  .card-header {
    padding: 15px 15px 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: $text;
    background: transparent;
    .header-link {
      position: relative;
      display: block;
      padding-left: 30px;
      .icon {
        position: absolute;
        top: 0;
        width: 18px;
        height: 18px;
      }
    }
    .prev {
      color: $main-color;
    }
    .back, .prev {
      cursor: pointer;
      .icon {
        left: 0;
      }
    }
    .next {
      cursor: pointer;
      color: $main-color;
      padding: 0 30px 0 0;
      .icon {
        left: auto;
        right: 0;
        transform: rotate(180deg);
      }
    }
    .user-name {
      width: 50%;
      text-align: center;
      color: $text-head;
      font-family: 'sf-ui-text-medium', sans-serif;
    }
    .user-icon-wrapper {
      .user-icon {
        @include user-info(24px);
        margin: 0 0 0 auto;
      }
    }
  }

  .user-data-wrapper {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    .half {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .user-info {
    word-break: break-word;
    padding: 15px;
    border-right: 1px solid $gray-border;
    li {
      position: relative;
      padding: 5px 5px 5px 30px;
      &.empty {
        .text {
          color: $gray;
        }
      }
      .icon {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 15px;
        height: 15px;
        color: $text;
      }
    }
  }
  .doc-list {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    & > li {
      padding: 5px 25px 5px 85px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      border-bottom: 1px solid $gray-border;
      &:last-child {
        border: none;
      }
      &:not(.active) {
        .doc-name:not(.active) {
          display: block;
          color: $gray;
        }
      }
      &.active {
        .doc-icon-wrapper {
          color: $main-color;
        }
        .doc-name.active {
          display: block;
          font-family: 'sf-ui-text-medium', sans-serif;
          color: $text-head;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .doc-icon-wrapper {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 0;
        width: 70px;
        border-right: 1px solid $gray-border;
        color: $text;
        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
        }
      }
      .doc-type {
        color: $text;
        font-size: 12px;
        font-family: 'sf-ui-text-medium', sans-serif;
        margin-bottom: 5px;
      }
      .doc-name {
        color: $text;
        display: none;
      }
    }
  }

  .send-buttons-wrapper {
    padding: 20px;
    text-align: center;
    .btn {
      display: inline-block;
      margin: 0 5px;
      width: 100px;
      font-size: 10px;
      font-family: 'sf-ui-text-bold', sans-serif;
      text-transform: uppercase;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      &.success {
        background: $green;
      }
      &.error {
        background: $red;
      }
    }
  }

  .history-wrapper {
    margin: 20px;
  }

  @media (max-width: 991px) {
    .card-header {
      padding-bottom: 40px;
      .user-name {
        position: absolute;
        left: 0;
        bottom: 5px;
        right: 0;
        width: 100%;
      }
    }
    .user-data-wrapper {
      .half {
        max-width: 100%;
        flex: 0 0 100%;
      }
      .user-info {
        border-right: 0;
      }
      .doc-list {
        border-top: 1px solid $gray-border;
      }
    }
  }
}

