<div class="investor-card white-wrapper">
  <div class="card-header">
    <span routerLink="/investors" class="header-link back"(click)="backClick()">
      <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
      <span>Back</span>
    </span>
    <span class="header-link prev noselect" (click)="changeUser(prevUser)">
      <svg class="icon icon-short-arrow"><use xlink:href="#icon-short-arrow"></use></svg>
      <span>Prev</span>
    </span>
    <span class="user-name">{{activeInvestor.profile[0].fullName || activeInvestor.email}}</span>
    <span class="header-link next noselect" (click)="changeUser(nextUser)">
      <svg class="icon icon-short-arrow"><use xlink:href="#icon-short-arrow"></use></svg>
      <span>Next</span>
    </span>
    <div class="user-icon-wrapper">
      <div class="user-icon" [ngClass]="activeInvestor.kycStatus || 'declined'">{{prof.initials || 'UA'}}</div>
    </div>
  </div>

  <div class="user-data-wrapper">
    <div class="user-info half">
      <ul>
        <li>
          <svg class="icon"><use xlink:href="#icon-info"></use></svg>
          <span class="text">{{activeInvestor.kycStatus || 'new user'}}</span>
        </li>
        <li [ngClass]="{empty: !prof.fullName}">
          <svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
          <span class="text">{{prof.fullName || 'Empty'}}</span>
        </li>
        <li [ngClass]="{empty: !prof.dateOfBirth}">
          <svg class="icon icon-birthday"><use xlink:href="#icon-birthday"></use></svg>
          <span class="text">{{prof.dateOfBirth || 'Empty'}}</span>
        </li>
        <li [ngClass]="{empty: !activeInvestor.email}">
          <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
          <span class="text">{{activeInvestor.email}}</span>
        </li>
        <li [ngClass]="{empty: !prof.phoneNumber}">
          <svg class="icon icon-phone"><use xlink:href="#icon-phone"></use></svg>
          <span class="text">{{prof.phoneNumber || 'Empty'}}</span>
        </li>
        <li [ngClass]="{empty: !prof.fullAddress}">
          <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
          <span class="text">{{prof.fullAddress || 'Empty'}}</span>
        </li>
      </ul>
    </div>
    <!--hasSelfie-->
    <ul class="doc-list half">
      <li [ngClass]="{active: activeInvestor.step2}">
        <div class="doc-icon-wrapper">
          <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
        </div>
        <div class="doc-info">
          <div class="doc-type">Identity Document</div>
          <div class="doc-name active" (click)="showDocumentModal('documentScan')">Overview</div>
          <div class="doc-name">Empty</div>
        </div>
      </li>
      <li [ngClass]="{active: activeInvestor.step2}">
        <div class="doc-icon-wrapper" >
          <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
        </div>
        <div class="doc-info">
          <div class="doc-type">Proof of Residence</div>
          <div class="doc-name active" (click)="showDocumentModal('residenceProof')">Overview</div>
          <div class="doc-name">Empty</div>
        </div>
      </li>
      <li [ngClass]="{active: activeInvestor.step2}">
        <div class="doc-icon-wrapper" >
          <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
        </div>
        <div class="doc-info">
          <div class="doc-type">Selfie with ID</div>
          <div class="doc-name active" (click)="showDocumentModal('selfie')">Overview</div>
          <div class="doc-name">Empty</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="send-buttons-wrapper"
       *ngIf="(activeInvestor.kycStatus === 'review' || activeInvestor.kycStatus === 'final_review')">
    <span class="btn error" (click)=showRefusalForm()>Refusal</span>
    <span class="btn success" (click)=confirmRequest()>Confirm</span>
  </div>

  <div class="operation-done mt-3 mb-3 text-center"
       [ngClass]="{'color-red': operationError}"
       *ngIf="operationResult">{{operationResult}}</div>

  <div class="history-wrapper" *ngIf="activeInvestor.kycStatus && activeInvestor.kycStatus !== 'declined' &&
    activeInvestor.kycStatus !== 'review'">
    <history-list [userId]="prof._id"></history-list>
  </div>
</div>
