<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      Refusal Accreditation
    </div>
    <div class="modal-separator"></div>
    <div class="modal-body">
      <form [formGroup]="refusalForm">
        <fieldset class="form-group">
          <textarea
            formControlName="refusal"
            placeholder="Describe the reason for the refusal"
            class="form-control form-control-lg"></textarea>
        </fieldset>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary btn-cancel" (click)="close()" >Cancel</button>
      <button type="button" class="btn btn-primary"
              [ngClass]="{disabled: refusalForm['_status'] !== 'VALID'}"
              (click)="confirm()">Send</button>
    </div>
  </div>
</div>
