@import "../../../assets/variables";

.modal-dialog {
  .refusalText {
    width: 100%;
  }
  .modal-body {
    .form-group {
      margin: 0;
    }
    textarea {
      width: 100%;
      resize: none;
      height: 120px;
    }
  }
  .modal-footer {
    display: block;
    text-align: center;
    border: none;
    .btn {
      margin: 0 5px;
      width: 100px;
      background: $green;
      text-transform: uppercase;
      &.btn-cancel {
        background: $red;
      }
    }
  }
}
