<div class="auth-form-wrapper white-wrapper" *ngIf="formType">
  <div class="centered-content">
    <h2 class="title" *ngIf="blockTitle">{{blockTitle}}</h2>
    <div class="description" *ngIf="description">{{description}}</div>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <fieldset class="form-group"
                *ngIf="formType !== 'resetPassword'"
                [ngClass]="{'has-error': authForm.controls.email['_touched'] && !authForm.controls.email.valid || serverErrors.email}">
        <input
          formControlName="email"
          placeholder="Email Address"
          class="form-control form-control-lg"
          [(ngModel)]="formFields.email"
          (ngModelChange)="inputUpdates('email')"
          type="email" />
        <span class="field-error"
          *ngIf="authForm.controls.email['_touched'] && !authForm.controls.email.valid">Wrong email format!</span>
        <span class="field-error"
              *ngIf="serverErrors.email">{{serverErrors.email}}</span>
      </fieldset>

      <fieldset class="form-group" *ngIf="formType === 'register' && countriesItems"
                [ngClass]="{'has-error': authForm.controls.country['_touched'] && !authForm.controls.country.valid || serverErrors.country}">
        <ng-select
          [allowClear]="true"
          [items]="countriesItems"
          (selected)="selected($event)"
          placeholder="Country">
        </ng-select>
        <input class="hidden-xs-up" [(ngModel)]="formFields.country" formControlName="country" />
        <span class="field-error"
              *ngIf="authForm.controls.country['_touched'] && !authForm.controls.country.valid">Field is required!</span>
        <span class="field-error"
              *ngIf="serverErrors.country">{{serverErrors.country}}</span>
      </fieldset>

      <fieldset class="form-group"
                *ngIf="formType !== 'forgotPassword'"
                [ngClass]="{'has-error': authForm.controls.password['_touched'] && !authForm.controls.password.valid || serverErrors.password}">
        <input
          formControlName="password"
          placeholder="Password"
          class="form-control form-control-lg"
          [(ngModel)]="formFields.password"
          (ngModelChange)="inputUpdates('password')"
          type="password" />
        <span class="field-error"
          *ngIf="authForm.controls.password['_touched'] && !authForm.controls.password.valid">Field is required!</span>
        <span class="field-error"
              *ngIf="serverErrors.password">{{serverErrors.password}}</span>
      </fieldset>

      <fieldset class="form-group"
        [ngClass]="{'has-error': authForm.controls.retryPassword['_touched'] &&
          (!authForm.controls.retryPassword.valid || authForm.controls.password._value !== authForm.controls.retryPassword._value || serverErrors.retryPassword)}"
        *ngIf="formType === 'register' || formType === 'resetPassword'" >
        <input
          formControlName="retryPassword"
          placeholder="Retry password"
          class="form-control form-control-lg"
          [(ngModel)]="formFields.retryPassword"
          (ngModelChange)="inputUpdates('retryPassword')"
          type="password" />
        <span class="field-error"
          *ngIf="authForm.controls.retryPassword['_touched'] && !authForm.controls.retryPassword.valid">Field is required!</span>
        <span class="field-error"
          *ngIf="authForm.controls.retryPassword['_touched'] && authForm.controls.retryPassword.valid &&
            authForm.controls.password._value !== authForm.controls.retryPassword._value">Passwords are not equal!</span>
        <span class="field-error"
              *ngIf="serverErrors.retryPassword">{{serverErrors.retryPassword}}</span>
      </fieldset>

      <fieldset class="form-group agree-field"
                *ngIf="formType == 'register'" >
        <input
          formControlName="agreeRegister"
          class="form-control custom-checkbox"
          id="agreeRegister"
          [(ngModel)]="formFields.agreeRegister"
          type="checkbox" />
        <label for="agreeRegister">I Agree To <a href="#" target="_blank">Terms & Conditions</a></label>
      </fieldset>

      <div class="buttons-wrapper login" *ngIf="formType === 'login'">
        <div class="half">
          <button class="submit-btn btn btn-lg btn-primary"
                  [disabled]="!authForm.valid || serverErrorsCount || (formType === 'register' && !formFields.agreeRegister)"
                  type="submit">
            {{ title }}
          </button>
        </div>
        <div class="half">
          <div class="bottom-links">
            <a [routerLink]="['/forgot-password']" *ngIf="formType !== 'forgotPassword' && formType !== 'resetPassword'">
              Forgot password</a>
          </div>
        </div>
      </div>
      <div class="buttons-wrapper register" *ngIf="formType === 'register'">
        <button class="submit-btn btn btn-lg btn-primary"
                [disabled]="!authForm.valid || serverErrorsCount || (formType === 'register' && !formFields.agreeRegister)"
                type="submit">
          {{ title }}
        </button>
      </div>
      <div class="buttons-wrapper" *ngIf="formType !== 'login' && formType !== 'register'">
        <button class="submit-btn btn btn-lg btn-primary"
                [disabled]="!authForm.valid || serverErrorsCount || (formType === 'register' && !formFields.agreeRegister)"
                type="submit">
          {{ title }}
        </button>
      </div>
    </form>

  </div>
</div>


