@import "../../../assets/variables";
@import "../info-form/info-form.component";

.auth-form-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  form {
    max-width: 360px;
    margin: 0 auto;
  };
  .form-group {
    .form-control {
      margin: 0 auto;
      max-width: 360px;
    }
  }
  .agree-field {
    text-align: left;
    color: $text;
    a {
      text-decoration: underline;
      color: inherit;
    }
  }
  .buttons-wrapper {
    text-align: center;
    &.login {
      display: flex;
      align-items: center;
      margin: 0 -5px;
    }
    &.register {
      .submit-btn {
        background: $green;
      }
    }
    .half {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 5px;
    }
    .submit-btn {
      width: 100%;
    }
  }
  .bottom-links {
    a {
      display: inline-block;
      color: $main-color;
    }
  }
  .title {
    font-size: 16px;
    color: $text-head;
    font-weight: normal;
  }
  .description {
    color: $text;
    margin: 20px 0;
  }
}
