<div class="contribution-page">
  <div class="row">
    <div class="col-xl-9 col-lg-12">

      <div class="contribution-wrapper white-wrapper" *ngIf="pageState === 'main'">
        <h1>{{pageTitle}}</h1>
        <div class="row contribution-info">
          <div class="col-lg-8">
            <div class="description" [innerHTML]="pageText"></div>
            <div class="login-screen" *ngIf="!currentUser.token">
              <div class="big-icon">
                <svg class="icon"><use xlink:href="#icon-list"></use></svg>
              </div>
              <h2 class="sub-header">Please Log In or register</h2>
              <div class="description">Thanks for your interest in the Cryptonaut Token Sale. To participate please log in or create an account.</div>
            </div>

            <div *ngIf="!pageSubtype && currentUser.token">
              <ul class="price-list" *ngIf="tradingStatus === 'soon'">
                <li *ngFor="let el of cryptoList">
                  <svg class="icon"><use [attr.xlink:href]="'#icon-' + el.name.toLowerCase()"></use></svg>
                  <span>{{el.value}} per {{el.name}}</span>
                </li>
              </ul>
              <ul class="price-list" *ngIf="tradingStatus === 'started'">
                <li *ngFor="let el of cryptoList">
                  <svg class="icon"><use [attr.xlink:href]="'#icon-' + el.name.toLowerCase()"></use></svg>
                  <span>{{el.count}} {{el.name}}</span>
                </li>
              </ul>
              <ul class="price-list" *ngIf="tradingStatus === 'ended'">
                <li *ngFor="let el of cryptoList">
                  <svg class="icon"><use [attr.xlink:href]="'#icon-' + el.name.toLowerCase()"></use></svg>
                  <span>{{el.count}} {{el.name}}</span>
                </li>
              </ul>

            </div>
            <ul class="buy-tokens-list" *ngIf="pageSubtype === 'buy'">
              <li *ngFor="let el of cryptoList">
                <a href="#" [routerLink]="'buy/' + el.name" class="btn btn-lg btn-primary">{{el.name}}</a>
                <div class="price-info">{{el.value}} CNAT / {{el.name}}</div>
              </li>
            </ul>
            <div class="sold-wrapper" *ngIf="pageSubtype === 'buyInfo'">
              <div class="text-center">
                <div class="link-button-wrapper">
                  <a routerLink="buy"
                     *ngIf="currentUser.token"
                     [ngClass]="{disabled: !currentUser.kycStatus || currentUser.kycStatus === 'REVIEW' ||
                        currentUser.kycStatus === 'DECLINED' || tradingStatus !== 'started'}"
                     class="btn btn-lg btn-primary">BUY CNAT TOKENS</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <countdown-timer [dateStart]="dateStart" [dateEnd]="dateEnd"></countdown-timer>
          </div>
        </div>

        <div class="link-button-wrapper" *ngIf="pageSubtype === 'tokensSuccess'">
          <a href="#" [routerLink]="currentUser.kycStatus === 'FINAL_ACCEPTED' ? '/whitelist' : ['/whitelist/edit']"
             class="btn btn-lg btn-primary">Accreditation</a>
        </div>

        <div class="sold-wrapper" *ngIf="!pageSubtype && tradingStatus === 'started'">
          <div class="sold-progress" >
            <div class="progress-bar" [style.width.%]="progressBar" ></div>
          </div>
          <div class="sold-info">{{stats.tokensSold}} CNAT SOLD</div>
          <div class="link-button-wrapper" *ngIf="currentUser.token">
            <a routerLink="buy"
               [ngClass]="{disabled: currentUser.step1 !== 'accepted'}"
               class="btn btn-lg btn-primary">BUY CNAT TOKENS</a>
          </div>
        </div>
        <!--<div class="bottom-text" *ngIf="!currentUser.token">Please register and login to participate in our Token Sale!</div>-->
        <div class="bottom-text" *ngIf="currentUser.step1 !== 'accepted' && currentUser.token">
          Please complete <a href="#" routerLink="/whitelist">Accreditation</a> to participate in the CNAT ICO!
        </div>
      </div>

<!--BUYING-->

      <div class="contribution-wrapper white-wrapper" *ngIf="pageSubtype === 'tokensForm'">
        <h1>Payment Processing</h1>
        <div class="description"></div>
        <form [formGroup]="tokensForm" class="payment-form">
          <div class="row contribution-info">
            <div class="col-md-8">
              <fieldset class="form-group">
                <label for="toPay">{{selectedToken}}</label>
                <input
                  formControlName="toPay"
                  class="form-control form-control-lg"
                  [(ngModel)]="formFields.toPay"
                  (ngModelChange)="updateAmount()"
                  id="toPay"
                  type="number" />
              </fieldset>

              <fieldset class="form-group">
                <label for="amountOfCurrency">CNAT</label>
                <input
                  formControlName="amount"
                  class="form-control form-control-lg"
                  [(ngModel)]="formFields.amount"
                  id="amountOfCurrency"
                  type="number" />
              </fieldset>

              <div class="wallet-info" *ngIf="ethWallet">
                <div class="wallet-description">Please send payment to this {{selectedToken}} address and click Paid when done.</div>
                <div class="wallet-code">
                  <span class="wallet-text">{{ethWallet}}</span>
                  <span class="copy-button" (click)="copyToClipboard('ethWallet')">
                   <svg class="icon"><use xlink:href="#icon-copy"></use></svg>
                  </span>
                  <div class="copied" *ngIf="copiedHints.ethWallet">Copied to clipboard</div>
                </div>
                <input formControlName="ethWallet" class="hidden-outside" id="ethWallet" [(ngModel)]="ethWallet">
              </div>

              <div class="wallet-info" *ngIf="walletData">
                <div class="wallet-description">Data:</div>
                <div class="wallet-code">
                  <span class="wallet-text">{{walletData}}</span>
                  <span class="copy-button" (click)="copyToClipboard('walletData')">
                  <svg class="icon"><use xlink:href="#icon-copy"></use></svg>
                </span>
                <div class="copied" *ngIf="copiedHints.walletData">Copied to clipboard</div>
                </div>
                <input formControlName="walletData"  class="hidden-outside" id="walletData" [(ngModel)]="walletData">
              </div>

            </div>
            <div class="col-md-4">
              <countdown-timer [dateStart]="dateStart" [dateEnd]="dateEnd"></countdown-timer>
            </div>
          </div>

          <div class="link-button-wrapper">
            <a routerLink="/contribution/buy/success" class="btn btn-lg btn-primary">PAID!</a>
          </div>
        </form>
        <div class="bottom-text">
          Read <a href="#" routerLink="buy/info">Payment Instruction</a>
        </div>
      </div>

      <auth-form [form-type]="pageState" class="mb-4 d-block" *ngIf="pageState === 'forgotPassword' || pageState === 'resetPassword'"></auth-form>

      <info-form [form-type]="pageState" class="mb-4 d-block" *ngIf="pageState === 'resetPasswordConfirm' ||
        pageState === 'forgotPasswordConfirm' || pageState === 'registerConfirm' || pageState === 'activateAccount'"></info-form>
    </div>

    <div class="col-xl-3 col-lg-12" *showAuthed="true">
      <balance [amount]="userBalance.cnat"></balance>
      <current-price [cryptoList]="cryptoList"></current-price>
    </div>

    <div class="col-xl-3 col-lg-12" *showAuthed="false">
      <auth-form form-type="login" class="mb-4 d-block"></auth-form>
      <auth-form form-type="register" *ngIf="pageState == 'main'"></auth-form>
    </div>
  </div>

</div>
