@import "../../assets/variables";

.contribution-page {
  text-align: center;
  .contribution-wrapper {
    text-align: left;
    h1 {
      text-align: center;
      font-family: 'sf-ui-text-medium', sans-serif;
    }
    .contribution-info {
      margin: 40px 0 ;
    }
  }
  .price-list {
    margin: 25px 0;
    li {
      display: inline-block;
      min-width: 50%;
      white-space: nowrap;
      padding: 10px;
      color: $main-color;
      font-size: 14px;
      font-family: 'sf-ui-text-medium', sans-serif;
      line-height: 40px;
      svg {
        width: 40px;
        height: 40px;
        margin-right: 5px;
        vertical-align: top;
      }
    }
    .buy-tokens {
      width: 45%;
      margin-right: 10%;
      text-align: center;
      &:nth-child(2n) {
        margin-right: 0;
      }
      a {
        display: block;
        width: 100%;
      }
    }
  }

  .buy-tokens-list {
    margin-top: 25px;
    li {
      display: inline-block;
      width: 45%;
      margin: 0 10% 15px 0;
      text-align: center;
      &:nth-child(2n) {
        margin-right: 0;
      }
      a {
        display: block;
        width: 100%;
        max-width: 220px;
        margin: 0 auto;
      }
      .price-info {
        margin: 10px 0;
        color: $text;
        font-size: 12px;
        font-family: 'sf-ui-text-medium', sans-serif;
      }
    }
  }
  .timer-wrapper {
    border-left: 1px solid $gray-border;
  }

  .smart-contract-images {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img {
      width: 150px;
      max-width: 45%;
      padding: 0 20px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }

  .sold-wrapper {
    margin-top: 50px;
    .sold-progress {
      height: 5px;
      background: $light-bg;
      border-radius: 5px;
      .progress-bar {
        background: $main-color;
        border-radius: 5px;
        margin-top: -5px;
        height: 5px;
        width: 0;
        transition-duration: 1.5s;
      }
    }
    .sold-info {
      margin-top: 20px;
      text-align: center;
      font-size: 14px;
      color: $text;
    }
    .accreditationError {
      margin-top: 10px;
      font-size: 12px;
      color: $main-color;
      a {
        color: $main-color;
        font-size: 100%;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .btn-primary {
    color: white;
    font-size: 10px;
    font-family: 'sf-ui-text-bold', sans-serif;
    &:focus {
      outline: none;
    }
    &.disabled {
      background: $gray;
    }
  }

  .copy-button {
    display: inline-block;
    margin-left: 10px;
    color: $main-color;
    cursor: pointer;
    .icon {
      width: 15px;
      height: 15px;
    }
  }

  .form-control:disabled {
    background: $block-bg;
  }

  .link-button-wrapper {
    margin-top: 30px;
    text-align: center;
    .btn-primary {
      width: 260px;
    }
  }

  .payment-form {
    text-align: right;
    label {
      padding-right: 10px;
    }
    .form-control {
      display: inline-block;
      width: 120px;
      text-align: center;
    }
  }
  .wallet-info {
    text-align: left;
    margin-top: 10px;
    .wallet-description {
      color: $text;
    }
    .wallet-code {
      font-family: 'sf-ui-text-medium', sans-serif;
      padding-bottom: 10px;
      position: relative;
    }
    .wallet-text {
      max-width: 85%;
      display: inline-block;
      overflow: hidden;
      vertical-align: top;
    }
    .copied {
      position: absolute;
      bottom: -10px;
      left: 0;
      font-family: 'sf-ui-text-italic', sans-serif;
      color: $main-color;
    }
  }

  .bottom-text {
    text-align: center;
    border-top: 1px solid $gray-border;
    margin: 40px -30px 0;
    padding: 20px 30px 20px;
    color: $text;
    &:last-child {
      margin-bottom: -30px;
    }
    a {
      color: $main-color;
    }
  }

  .login-screen {
    text-align: center;
    .big-icon {
      color: $main-color;
      .icon {
        width: 50px;
        height: 50px;
      }
    }
    .sub-header {
      margin: 40px 0 20px;
      font-family: 'sf-ui-text-medium', sans-serif;
      font-size: 20px;
      color: $main-color;
    }
  }

  @media (max-width: 600px) {
    .buy-tokens-list {
      li {
        width: 100%;
      }
    }
    .price-list {
      li {
        width: 100%;
      }
    }
  }
}
