<layout-header></layout-header>
<main [ngClass]="{'authed': currentUser.token}">
  <layout-menu *showAuthed="true"></layout-menu>
  <router-outlet></router-outlet>
  <!-- <footer class="support-footer" *ngIf="!currentUser.token">
    {{'main.tokenSaleSupportsBy' | translate}}
    <a href="https://applicature.com/" target="_blank">
      <img src="./assets/applicature.svg" alt="applicature">
    </a>
  </footer> -->
</main>

