@import "../../../assets/variables";

.modal-dialog.document-modal {
  max-width: calc(100vw - 200px);
  .modal-body {
    max-width: 100%;
    max-height: calc(100vh - 120px);
    overflow: auto;
    text-align: center;
    .image-wrapper {
      margin: -15px;
    }
    .document-image {
      margin: 0 auto;
    }
  }

  @media (max-width: 991px) {
    max-width: calc(100vw - 60px);
  }
}
