<div class="modal-dialog document-modal">
  <div class="modal-content">
    <div class="modal-header">{{imageTitleMap[title]}}</div>
    <div class="modal-body">
      <div *ngIf="pending">Loading...</div>
      <div class="image-wrapper" *ngIf="!pending">
        <img [src]="image" [alt]="title" class="document-image">
      </div>
    </div>
    <div class="close-btn" (click)="close()">
      <svg class="icon icon-close"><use xlink:href="#icon-cross"></use></svg>
    </div>
  </div>
</div>
