@import "./../../../assets/variables";

header {
  position: relative;
  z-index: 1000;
  height: $header-height;
  background: $main-color;
  box-shadow: 0 0 15px 0 $gray-border-2;
  &:not(.authed) {
    .user-block, .page-header, .menu-button, .menu-button.open {
      display: none;
    }
    .logo {
      border: none;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $menu-width;
    padding-top: 5px;
    text-decoration: none;
    border-right: 1px solid $gray-border;
    color: $main-color;
    font-size: 24px;
    background-color: #36000C;
    .logo-image {
      max-width: 77.4%;
      position: relative;
      left: 8.5px;
      top:-2px;
    }
  }
  .page-header {
    height: 100%;
    margin: 0 auto;
    div {
      display: inline-block;
      padding: 10px;
      color: $text-head;
      font-size: 18px;
    }
    svg {
      width: 20px;
      height: 20px;
      margin: -3px 10px 0 0;
      color: $main-color;
      vertical-align: top;
    }
  }
  .user-block {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    justify-content: right;
    color: $text-head;
    text-align: right;
    padding-right: 75px;
    line-height: 15px;
    .user-name {
      font-family: 'sf-ui-text-medium', sans-serif;
      font-size: 14px;
    }
    .user-status {
      font-size: 12px;
      color: $text;
    }
    .user-icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 30px;
      width: 32px;
      height: 32px;
      line-height: 34px;
      border-radius: 50%;
      text-align: center;
      font-size: 13px;
      color: white;
      background: $main-color;
      &.active {
        background: $main-color;
      }
    }
  }

  @media (max-width: 991px) {
    .user-block {
      .user-name, .user-status {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .page-header {
      display: none;
    }
    .logo {
      border: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .menu-button.open {
      display: block;
    }
  }
}
