<header [ngClass]="{'authed': currentUser.token}">
  <div class="menu-button open" (click)="toggleMenu()">
    <svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg>
  </div>

  <a class="logo flex-center" [routerLink]="currentUser.token ? '/contribution' : '/'">
    <img class="logo-image" src="./assets/icon/Logo.svg" alt="Cryptonaut"/>
  </a>

  <h1 class="page-header flex-center">
    <div *ngIf="routeMap[activeRoute]">
      <svg class="icon"><use [attr.xlink:href]="'#icon-' + routeMap[activeRoute].icon"></use></svg>
      <span>{{routeMap[activeRoute].name}}</span>
    </div>
  </h1>

  <div class="user-block flex-center">
    <div *ngIf="currentUser.token">
      <div class="user-name">{{currentUser.profile && currentUser.profile.fullName || currentUser.email}}</div>
      <div class="user-status" *ngIf="currentUser.kycStatus !== 'ACCEPTED'">{{'header.unaccredited' | translate}}</div>
      <div class="user-status" *ngIf="currentUser.kycStatus === 'ACCEPTED'">{{'header.accredited' | translate}}</div>
      <div class="user-icon">{{currentUser.profile && currentUser.profile.initials || 'UA'}}</div>
    </div>
  </div>
</header>
