@import "../../../assets/variables";

aside {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: $menu-width;
  height: 100%;
  overflow: auto;
  background: $block-bg;
  border-right: 1px solid $gray-border;
  padding-bottom: 60px;
  background-color: $main-color;
  .main-menu {
    margin-top: 20px;
    height: calc(100% - 20px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $main-color;
    .menu-item {
      white-space: nowrap;
      display: block;
      width: 100%;
      padding: 15px 10px 15px 25px;
      border-left: 2px solid transparent;
      color: $text;
      font-family: 'sf-ui-text-medium', sans-serif;
      font-size: 14px;
      background-color: $main-color;
      .icon {
        width: 20px;
        height: 20px;
        margin-right: 5px;
        vertical-align: top;
      }
      span {
        display: inline-block;
      }
      &.active, &:hover {

        border-color: $main-color;
        color: $main-color;
        // background: $light-bg;
        background-color: rgba(233, 216, 216, 0.4);
      }
    }
  }
  .separator {
    width: 90%;
    margin: 20px 5%;
    border-top: 1px solid $gray-border;
  }
  @media (max-width: 767px) {
    position: fixed;
    z-index: 3000;
    top: 0;
    left: calc(-100% + 70px);
    bottom: 0;
    height: 100vh;
    width: calc(100% - 70px);
    overflow-y: auto;
    transition-duration: 1s;
    border-right: 1px solid $gray-border;
  }
}

.menu-button {
  position: fixed;
  left: auto;
  right: 15px;
  top: 10px;
  transform: translate(0, 0);
}

.menu-shadow {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  opacity: 0.8;
  z-index: 2000;
}
