<aside class="menu-aside">
  <nav class="main-menu">
    <ul>
      <li>
        <a class="menu-item" routerLink="/contribution" routerLinkActive="active">
          <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
          <span>{{'header.dashboard' | translate}}</span>
        </a>
      </li>
      <li>
        <a class="menu-item" routerLink="/hello" routerLinkActive="active">
          <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
          <span>{{'header.dashboard' | translate}}</span>
        </a>
      </li>
      <li>
        <a class="menu-item" routerLink="/history" routerLinkActive="active">
          <svg class="icon icon-docs"><use xlink:href="#icon-docs"></use></svg>
          <span>{{'header.history' | translate}}</span>
        </a>
      </li>
      <li>
        <a class="menu-item" routerLink="/accreditation" routerLinkActive="active">
          <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
          <span>{{'header.accreditation' | translate}}</span>
        </a>
      </li>
      <li>
        <div class="separator" ></div>
      </li>

      <li *ngIf="currentUser.role === 'MANAGER'">
        <a class="menu-item" routerLink="/dashboard" routerLinkActive="active">
          <svg class="icon dashboard"><use xlink:href="#icon-dashboard"></use></svg>
          <span>{{'header.dashboard' | translate}}</span>
        </a>
      </li>
      <li *ngIf="currentUser.role === 'MANAGER'">
        <a class="menu-item" routerLink="/investors" routerLinkActive="active" (click)="updateRoute('/investors')">
          <svg class="icon investors"><use xlink:href="#icon-investors"></use></svg>
          <span>{{'header.investors' | translate}}</span>
        </a>
      </li>
      <li *ngIf="currentUser.role === 'MANAGER'">
        <div class="separator" ></div>
      </li>
      <li>
        <a class="menu-item" href="#" (click)="logout()">
          <svg class="icon icon-logout"><use xlink:href="#icon-logout"></use></svg>
          <span>{{'header.logout' | translate}}</span>
        </a>
      </li>

    </ul>
  </nav>
  <div class="support-footer">
    {{'main.tokenSaleSupportsBy' | translate}}
    <a href="https://applicature.com/" target="_blank">
      <img src="./assets/applicature.svg" alt="applicature">
    </a>
  </div>
</aside>
<div class="menu-button close" (click)="closeMenu()">
  <svg class="icon icon-cross"><use xlink:href="#icon-cross"></use></svg>
</div>
<div class="menu-shadow" (click)="closeMenu()"></div>
