@import "../../../assets/variables";

.info-form-wrapper {
  text-align: center;
  .centered-content {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
  }
  .title {
    font-size: 16px;
    color: $text-head;
    font-weight: normal;
  }
  .message-text {
    color: $text;
  }
}
