<div class="info-form-wrapper white-wrapper">
  <div class="container page">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-xs-12">
        <div class="centered-content">
          <div class="info-form-message align-middle" [ngClass]="{error: errored}">
            <h2 class="title">{{title}}</h2>
            <div class="message-text">{{infoMessage}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
