@import "../../../assets/variables";

.balance-wrapper {
  padding: 40px 20px;
  color: $text;
  font-size: 18px;
  font-family: 'sf-ui-text-medium', sans-serif;
  .balance-info {
    margin-top: 10px;
  }
}

