@import "../../../assets/variables";

.countdown-timer {
  position: relative;
  border-left: 1px solid $gray-border;
  text-align: center;
  .status {
    position: absolute;
    width: 100%;
    top: 30%;
    text-transform: uppercase;
    font-family: 'sf-ui-text-bold', sans-serif;
    font-size: 12px;
    transform: translateY(-50%);
    color: $text;
  }
  .timer-data {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: $text;
    font-size: 23px;
    font-family: 'bebas-neue-regular', sans-serif;
    word-spacing: 3px;
    text-transform: uppercase;
    &.long-data {
      font-size: 17px;
      .dig {
        font-size: 25px;
      }
    }
    .dig {
      color: $main-color;
      font-size: 33px;
    }
  }
  .progress-bar {
    width: 195px;
    height: 195px;
    max-width: 100%;
    margin: -10px auto;
    background: none;
    color: $main-color;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media (max-width: 991px) {
    border: none;
    margin-top: 20px;
  }

}
