<div class="countdown-timer">
  <div class="status">{{timerText}}</div>

  <div class="timer-data" *ngIf="timerStatus !== 'ended'">
    <span class="dig">{{timerData.days}}</span>D
    <span class="dig">{{timerData.hours}}</span>H
    <span class="dig">{{timerData.minutes}}</span>M
    <span class="dig">{{timerData.seconds}}</span>S
  </div>

  <div class="timer-data long-data" *ngIf="timerStatus === 'ended'">
    <span class="dig">{{endedDateData.time}}</span> {{endedDateData.month}}
    <span class="dig">{{endedDateData.date}}</span>
    <span class="dig">{{endedDateData.year}}</span>
  </div>

  <div class="progress-bar">
    <svg class="iconCircle" viewBox="0 0 200 200">
      <circle r="90" cx="100" cy="100" fill="none" stroke="#EDEDED" stroke-width="5px"></circle>
      <circle r="90" cx="100" cy="100" fill="none" transform="rotate(270, 100, 100)"
        style="animation-name: drawcircle; animation-duration: 3s; animation-fill-mode: forwards; stroke-dasharray: 565.49px; stroke: currentColor"
        [style.strokeDashoffset.px]="progress" stroke-width="5px">
      </circle>
    </svg>
  </div>

</div>
