@import "../../../assets/variables";

.current-price {
  margin-top: 20px;
  color: $text;
  font-size: 14px;
  ul {
    margin-top: 20px;
    text-align: left;
  }
  li {
    margin-top: 10px;
    line-height: 20px;
    position: relative;
    padding-left: 30px;
    .icon-wrapper {
      position: absolute;
      top: -2px;
      left: 0;
    }
    svg {
      width: 20px;
      height: 20px;
      vertical-align: top;
    }
    .together {
      white-space: nowrap;
    }
  }
}
