<div class="current-price white-wrapper">
  <h3>Current Price</h3>
  <ul class="price-list">
    <li *ngFor="let el of cryptoList">
      <span class="color-main icon-wrapper">
        <svg class="icon"><use [attr.xlink:href]="'#icon-' + el.name.toLowerCase()"></use></svg> :
      </span>
      <span>{{el.value}} <span class="together">CNAT /
        <span class="color-main">{{el.name}}</span></span></span>
    </li>
  </ul>
</div>
