@import '../../assets/variables';

.edit-accreditation-page {
  .submit-block {
    padding: 30px 20px;
  }
  .send-data {
    text-align: center;
    color: $text;
  }
  .general-error {
    margin-top: 10px;
    text-align: center;
    color: $red;
  }

  .submit-btn {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 15px 15px;
    font-size: 10px;
    font-family: 'sf-ui-text-bold', sans-serif;
    text-transform: uppercase;
  }
}

.edit-accreditation-wrapper {
  .sub-header {
    color: $main-color;
  }
  h2 {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'sf-ui-text-bold', sans-serif;
  }
  label {
    color: $text;
    font-size: 12px;
    font-family: 'sf-ui-text-medium', sans-serif;
  }
  .radio-buttons {
    margin-top: 30px;
    .gender-span {
      display: inline-block;
      line-height: 28px;
      margin-right: 30px;
      color: $text;
    }
    label {
      margin-right: 30px;
      color: $text-head;;
    }
  }

  .rules-text {
    color: $text;
    font-size: 12px;
    font-family: 'sf-ui-text-italic', sans-serif;
  }
  .rules-list {
    color: $text;
    font-size: 12px;
    font-family: 'sf-ui-text-italic', sans-serif;
    margin-top: 15px;
    li {
      position: relative;
      padding-left: 20px;
      &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $main-color;
      }
      .head-text {
        color: $text-head;
      }
    }
  }

  .bottom-submit-btn {
    max-width: 200px;
    margin: 40px auto 0;

  }
}
