@import '../../assets/variables';
@import '../../assets/mixins';

.accreditation-page {
  .white-wrapper {
    padding: 10px 40px;
  }
  .user-card {
    padding: 30px 30px;
    .user-icon {
      @include user-info(70px);
      margin: 0 auto;
    }
    .user-info-table {
      width: 100%;
      border: 0;
      margin-top: 15px;
      td {
        padding: 13px 0 12px;
        width: 25%;
        border-bottom: 1px solid $gray-border;
        color: $text;
        font-size: 12px;
        font-family: 'sf-ui-text-medium', sans-serif;
        &:nth-child(2) {
          width: 75%;
          color: $text-head;
          font-size: 14px;
          font-family: 'sf-ui-text-regular', sans-serif;
        }
      }
      tr:last-child td {
        border: 0;
      }
    }
  }

  .documents-wrapper {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: stretch;
    .white-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }

  .document {
    position: relative;
    padding-left: 40px;
    height: 42px;
    &.active {
      .icon {
        color: $main-color;
      }
      .document-name {
        .overview {
          display: block;
          cursor: pointer;
          color: $text-head;
          &:hover {
            text-decoration: underline;
          }
        }
        .no-file {
          display: none;
        }
      }
    }
    .icon {
      color: $text;
      position: absolute;
      top: 50%;
      left: -10px;
      width: 20px;
      height: 20px;
      transform: translateY(-50%);
    }
    .label {
      color: $text;
      font-size: 12px;
      font-family: 'sf-ui-text-medium', sans-serif;
    }
    .document-name {
      display: inline-block;
      margin-top: 10px;
      line-height: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      span {
        display: block;
        color: $text;
      }
      .overview {
        display: none;
      }

    }
  }

  .account-status {
    padding: 20px 20px 0;
    &.unaccredited {
      .status-icon {
        display: block;
        background: $red;
        .icon-close {
          display: block;
        }
      }
      .unaccredited {
        display: block;
      }
      .edit-btn {
        display: block;
      }
    }
    &.accepted {
      .status-icon {
        display: block;
        background: $green;
        .icon-checked {
          display: block;
        }
      }
      .accepted, .contribution-btn {
        display: block;
      }
    }
    &.need-documents {
      .need-documents {
        display: block;
      }
      .documents-btn {
        display: block;
      }
    }
    &.review {
      .review {
        display: block;
      }
    }
    &.final-review {
      .final-review {
        display: block;
      }
    }
    &.final-declined {
      .status-icon {
        display: block;
        background: $red;
        .icon-close {
          display: block;
        }
      }
      .final-declined, .documents-btn {
        display: block;
      }
    }
    &.declined {
      .status-icon {
        display: block;
        background: $red;
        .icon-close {
          display: block;
        }
      }
      .declined {
        display: block;
      }
    }
    .status-icon {
      margin: 0 auto 30px;
      padding: 12px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      color: white;
      display: none;
      svg {
        display: none;
        width: 25px;
        height: 25px;
      }
    }
    .status-text {
      display: none;
      text-align: center;
    }
  }
  .btn-primary {
    display: none;
    margin: 15px auto 0;
    width: 100%;
    max-width: 260px;
    border: 1px solid $gray-border;
    background: transparent;
    color: $text;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'sf-ui-text-bold', sans-serif;
    &:hover {
      background: $main-color;
      color: white;
    }
    &.contribution-btn {
      background: $main-color;
      color: $text-btn;
    }
  }
}
