<div class="edit-accreditation-page">
  <form [formGroup]="accreditationForm" (ngSubmit)="submitForm()">
    <div class="row">
      <div class="col-xl-9">
        <div class="edit-accreditation-wrapper white-wrapper">
          <div class="form-section">
            <h2 class="sub-header">1. Personal information</h2>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.firstName['_touched'] && !accreditationForm.controls.firstName.valid || serverErrors.firstName}">
                  <label for="firstName">First Name*</label>
                  <input
                    id="firstName"
                    formControlName="firstName"
                    [(ngModel)]="formFields.firstName"
                    (ngModelChange)="inputUpdates('firstName')"
                    placeholder="Enter your First Name"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.firstName['_touched'] && !accreditationForm.controls.firstName.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.firstName">{{serverErrors.firstName}}</span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.lastName['_touched'] && !accreditationForm.controls.lastName.valid || serverErrors.lastName}">
                  <label for="lastName">Last Name*</label>
                  <input
                    id="lastName"
                    formControlName="lastName"
                    [(ngModel)]="formFields.lastName"
                    (ngModelChange)="inputUpdates('lastName')"
                    placeholder="Enter your Last Name"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.lastName['_touched'] && !accreditationForm.controls.lastName.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.lastName">{{serverErrors.lastName}}</span>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group">
                  <label for="middleName">Middle Name</label>
                  <input
                    id="middleName"
                    [(ngModel)]="formFields.middleName"
                    formControlName="middleName"
                    placeholder="Enter your Middle Name"
                    class="form-control form-control-lg"/>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.dateOfBirth['_touched'] && !accreditationForm.controls.dateOfBirth.valid || serverErrors.dateOfBirth}">
                  <label for="dateOfBirth">Date of Birth*</label>
                  <input
                    id="dateOfBirth"
                    formControlName="dateOfBirth"
                    [(ngModel)]="formFields.dateOfBirth"
                    (ngModelChange)="inputUpdates('dateOfBirth')"
                    [textMask]="{mask: birthdayMask}"
                    placeholder="YYYY-MM-DD"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.dateOfBirth['_touched'] && !accreditationForm.controls.dateOfBirth.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.dateOfBirth">{{serverErrors.dateOfBirth}}</span>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.phoneNumber['_touched'] && !accreditationForm.controls.phoneNumber.valid || serverErrors.phoneNumber}">
                  <label for="phoneNumber">Contact Phone Number*</label>
                  <input
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    [(ngModel)]="formFields.phoneNumber"
                    (ngModelChange)="inputUpdates('phoneNumber')"
                    placeholder="Number (+38000...)"
                    class="form-control form-control-lg"
                    iput type="tel"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.phoneNumber['_touched'] && !accreditationForm.controls.phoneNumber.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.phoneNumber">{{serverErrors.phoneNumber}}</span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group radio-buttons">
                  <span class="gender-span">Gender</span>
                  <input
                    id="genderMale"
                    formControlName="gender"
                    [value]="'Male'"
                    [(ngModel)]="formFields.gender"
                    class="custom-radio"
                    type="radio"/>
                  <label for="genderMale">Male</label>
                  <input
                    id="genderFemale"
                    formControlName="gender"
                    [value]="'Female'"
                    [(ngModel)]="formFields.gender"
                    class="custom-radio"
                    type="radio"/>
                  <label for="genderFemale">Female</label>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="main-separator"></div>

          <div class="form-section">
            <h2 class="sub-header">2. Resident Address</h2>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': serverErrors.country}" *ngIf="countriesItems">
                  <label>Country*</label>
                  <ng-select
                    [allowClear]="true"
                    [items]="countriesItems"
                    [active]="formFields.activeCountry ? [formFields.activeCountry] : [countriesItems[0]]"
                    (selected)="selected($event, 'country')"
                    placeholder="Country">
                  </ng-select>
                  <input class="hidden-xs-up" [(ngModel)]="formFields.country" formControlName="country" />
                  <span class="field-error"
                        *ngIf="serverErrors.country">{{serverErrors.country}}</span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.zipCode['_touched'] && !accreditationForm.controls.zipCode.valid || serverErrors.zipCode}">
                  <label for="zipCode">Zip code*</label>
                  <input
                    id="zipCode"
                    formControlName="zipCode"
                    [(ngModel)]="formFields.zipCode"
                    (ngModelChange)="inputUpdates('zipCode')"
                    placeholder="Enter Zip Code"
                    class="form-control form-control-lg" />
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.zipCode['_touched'] && !accreditationForm.controls.zipCode.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.zipCode">{{serverErrors.zipCode}}</span>
                </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.city['_touched'] && !accreditationForm.controls.city.valid || serverErrors.city}">
                  <label for="city">City*</label>
                  <input
                    id="city"
                    formControlName="city"
                    [(ngModel)]="formFields.city"
                    (ngModelChange)="inputUpdates('city')"
                    placeholder="Enter City"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.city['_touched'] && !accreditationForm.controls.city.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.city">{{serverErrors.city}}</span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group" *ngIf="formFields.country !== 'us' && formFields.country !== 'ca'">
                  <label for="dateOfBirth">State/Province</label>
                  <input
                    id="state"
                    [(ngModel)]="formFields.state"
                    formControlName="state"
                    placeholder="Enter State or Province"
                    class="form-control form-control-lg"/>
                </fieldset>

                <fieldset class="form-group" *ngIf="USStates && formFields.country === 'us'">
                  <label>State/Province</label>
                  <ng-select
                    [allowClear]="true"
                    [items]="USStates"
                    [active]="formFields.activeState ? [formFields.activeState] : ''"
                    (selected)="selected($event, 'state')"
                    placeholder="Choose state">
                  </ng-select>
                  <input class="hidden-xs-up" [(ngModel)]="formFields.state" formControlName="state" />
                </fieldset>

                <fieldset class="form-group" *ngIf="CAStates && formFields.country === 'ca'">
                  <label>State/Province*</label>
                  <ng-select
                    [allowClear]="true"
                    [items]="CAStates"
                    [active]="formFields.activeState ? [formFields.activeState] : ''"
                    (selected)="selected($event, 'state')"
                    placeholder="Choose state">
                  </ng-select>
                  <input class="hidden-xs-up" [(ngModel)]="formFields.state" formControlName="state" />
                </fieldset>

              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.street['_touched'] && !accreditationForm.controls.street.valid || serverErrors.street}">
                  <label for="street">Street Address*</label>
                  <input
                    id="street"
                    formControlName="street"
                    [(ngModel)]="formFields.street"
                    (ngModelChange)="inputUpdates('street')"
                    placeholder="Enter Street Address"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.street['_touched'] && !accreditationForm.controls.street.valid">Field is required!</span>
                  <span class="field-error"
                        *ngIf="serverErrors.street">{{serverErrors.street}}</span>
                </fieldset>
              </div>
              <div class="col-lg-6">
                <fieldset class="form-group">
                  <!--todo: fix ApPartment name-->
                  <label for="appartment">Apartment/Suite</label>
                  <input
                    id="appartment"
                    formControlName="appartment"
                    [(ngModel)]="formFields.appartment"
                    placeholder="Enter Apartment or Suite"
                    class="form-control form-control-lg"/>
                  <span class="field-error"
                        *ngIf="accreditationForm.controls.appartment['_touched'] && !accreditationForm.controls.appartment.valid">Field is required!</span>
                </fieldset>
              </div>
            </div>
          </div>

          <div class="main-separator"></div>

          <div class="form-section">
            <h2 class="sub-header">3. ETH Wallet</h2>
            <fieldset class="form-group" [ngClass]="{'has-error': accreditationForm.controls.ETHWallet['_touched']}">
              <label for="ETHWallet">Your ETH Wallet Address where we can send your CNAT tokens*</label>
              <input
                id="ETHWallet"
                formControlName="ETHWallet"
                [(ngModel)]="formFields.ETHWallet"
                (ngModelChange)="inputUpdates('ETHWallet')"
                placeholder="Enter ETH Wallet Number"
                class="form-control form-control-lg"/>
              <span class="field-error"
                    *ngIf="accreditationForm.controls.ETHWallet['_touched'] && !accreditationForm.controls.ETHWallet.valid">Field is required!</span>
              <span class="field-error"
                    *ngIf="serverErrors.ETHWallet">{{serverErrors.ETHWallet}}</span>
            </fieldset>
          </div>

          <div id="accreditationScrollBottom" *ngIf="currentUser.step1 === 'accepted' && currentUser.profile.firstName">
            <div class="main-separator"></div>

            <div>Please provide additional information below and click “Submit” again.</div>

            <div class="main-separator"></div>

            <div class="form-section">
              <h2 class="sub-header">4. Photos or documents</h2>
              <fieldset *ngIf="formFields.activeDocumentType">
                <label>Select ID Type</label>
                <!--todo check this-->
                <ng-select
                  [allowClear]="false"
                  [items]="documentTypesItems"
                  [active]="[formFields.activeDocumentType]"
                  (selected)="selected($event, 'documentType')"
                  placeholder="ID type">
                </ng-select>
                <input class="hidden-xs-up" [(ngModel)]="formFields.documentType" formControlName="documentType" />
              </fieldset>
              <fieldset class="form-group" >
                <label>Identity Document: Passport, Driver license, ID card</label>
                <input
                  formControlName="documentScan"
                  [(ngModel)]="formFields.documentScan"
                  class="form-control form-control-lg hidden-xs-up"/>
                <file-input (onUpdate)="updateFile($event, 'documentScan')" [fileName]="formFields.documentScan"></file-input>
              </fieldset>
              <fieldset class="form-group">
                <label>Proof of Residence: Utility Bill (no more than 3 months old), Bank statement, Credit card statement, proof of residency certificate</label>
                <input
                  formControlName="residenceProof"
                  [(ngModel)]="formFields.residenceProof"
                  class="form-control form-control-lg hidden-xs-up"/>
                <file-input (onUpdate)="updateFile($event, 'residenceProof')" [fileName]="formFields.residenceProof"></file-input>
              </fieldset>
              <fieldset class="form-group">
                <label>ID confirmation photo (Selfie with ID)</label>
                <input
                  formControlName="selfie"
                  [(ngModel)]="formFields.selfie"
                  class="form-control form-control-lg hidden-xs-up"/>
                <file-input (onUpdate)="updateFile($event, 'selfie')" [fileName]="formFields.selfie"></file-input>
              </fieldset>

              <ul class="rules-list">
                <li>Acceptable file format: JPEG, JPG, PNG;</li>
                <li>Not acceptable: photos of a screen, photocopies, etc;</li>
                <li>All sides of the document should be seen in the photo;</li>
                <li>The document should take over 50% or more of the frame;</li>
                <li>The picture should be clear, without blur and glare;</li>
                <li>File size must be 2MB or less, the resolution of scanned copies must be 150dpi or higher.</li>
              </ul>

              <button class="submit-btn btn btn-lg btn-primary bottom-submit-btn hidden-lg-down"
                      [disabled]="!accreditationForm.valid || serverErrorsCount"
                      type="submit">Send to accreditation
              </button>
              <div class="general-error " *ngIf="serverErrors.general">{{serverErrors.general}}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-3">
        <div class="submit-block">
          <div class="send-data">
            Your account will be submitted for accreditation!<br><br>
            You will receive Email after checking
          </div>
          <button class="submit-btn btn btn-lg btn-primary"
                  [disabled]="!accreditationForm.valid || serverErrorsCount"
                  type="submit">Send to accreditation
          </button>
          <div class="general-error" *ngIf="serverErrors.general">{{serverErrors.general}}</div>
        </div>

      </div>
    </div>
  </form>
</div>
