<div class="accreditation-page">
  <div class="row">
    <div class="col-xl-9">
      <div class="row">
        <div class="col-lg-7">
          <div class="user-card white-wrapper">
            <div class="user-icon">{{profile.initials || 'UA'}}</div>
            <table class="user-info-table">
              <tbody>
                <tr>
                  <td>Full Name:</td><td>{{profile.firstName ? (profile.firstName + ' ' + profile.lastName) : '--/--'}}</td>
                </tr>
                <tr>
                  <td>Date of Birth:</td><td>{{profile.dateOfBirth || '--/--'}}</td>
                </tr>
                <tr>
                  <td>Phone:</td><td>{{profile.phoneNumber || '--/--'}}</td>
                </tr>
                <tr>
                  <td>Address</td><td>{{profile.firstName ?
                    ((profile.appartment || '') + ' ' + profile.street + ' ' + profile.city + ', ' +  (profile.state || '') + ' ' +
                    profile.zipCode + ', ' + profile.country) : '--/--'}} </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-lg-5" *ngIf="currentUser.step2">
          <div class="documents-wrapper">
            <div class="white-wrapper">
              <div class="document active">
                <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
                <div class="label">Identity Document</div>
                <div class="document-name">
                  <span class="no-file">--/--</span>
                  <span class="overview" (click)="showDocumentModal('documentScan')">Overview</span>
                </div>
              </div>
            </div>

            <div class="white-wrapper">
              <div class="document active">
                <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
                <div class="label">Proof of Residence</div>
                <div class="document-name">
                  <span class="no-file">--/--</span>
                  <span class="overview" (click)="showDocumentModal('residenceProof')">Overview</span>
                </div>
              </div>
            </div>

            <div class="white-wrapper">
              <div class="document active">
                <svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>
                <div class="label">Selfie with ID</div>
                <div class="document-name">
                  <span class="no-file">--/--</span>
                  <span class="overview" (click)="showDocumentModal('selfie')">Overview</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-xl-3">
      <div class="account-status" [ngClass]="{
        unaccredited: !currentUser.kycStatus,
        review: currentUser.kycStatus === 'REVIEW',
        accepted: currentUser.kycStatus === 'ACCEPTED' || currentUser.kycStatus === 'FINAL_ACCEPTED' || currentUser.kycStatus === 'FINAL_REVIEW',
        'need-documents': currentUser.kycStatus === 'ACCEPTED',
        'final-review': currentUser.kycStatus === 'FINAL_REVIEW',
        'final-declined': currentUser.kycStatus === 'FINAL_DECLINED',
        declined: currentUser.kycStatus === 'DECLINED'
        }">
        <div class="status-icon">
          <svg class="icon icon-checked"><use xlink:href="#icon-checked"></use></svg>
          <svg class="icon icon-close"><use xlink:href="#icon-close"></use></svg>
        </div>
        <div class="status-text accepted color-green">Your account is accredited!<br><br></div>
        <div class="status-text unaccredited color-red">Your account is not accredited!<br/><br/></div>
        <div class="status-text need-documents color-text">To receive your tokens please proceed the accreditation process clicking the button below</div>
        <div class="status-text review color-text">Your account has been submitted for accreditation!<br><br>We will notify you via email.</div>
        <div class="status-text final-review color-main">Your account has been submitted for accreditation to allow receive your tokens!<br><br>We will notify you via email.</div>
        <div class="status-text final-declined">We couldn't verify your account based on information you send. Please try again.</div>
        <div class="status-text declined color-red">Your account is declined!</div>
        <a href="#" routerLink="/accreditation/edit" class="edit-btn btn btn-lg btn-primary">Edit</a>
        <a href="#" routerLink="/accreditation/edit" class="documents-btn btn btn-lg btn-primary">Accreditation</a>
        <a href="#" routerLink="/contribution" class="contribution-btn btn btn-lg btn-primary">Contribute</a>
      </div>
    </div>

  </div>
</div>
