<div class="dashboard-page white-wrapper">
  <div class="tokens-stats">
    <div class="stats-block">
      <span class="title">{{'dashboard.remains' | translate}}</span>
      <div class="count">
        <span class="blue">{{remains}}</span> {{'main.crypto' | translate}}
      </div>
    </div>

    <div class="stats-block">
      <span class="title">{{'dashboard.totalSold' | translate}}</span>
      <div class="count">
        <span class="blue">{{totalSold}}</span> {{'main.crypto' | translate}}
      </div>
    </div>

    <div class="stats-block">
      <span class="title">{{'dashboard.soldToday' | translate}}</span>
      <div class="count">
        <span class="blue">{{soldToday}}</span> {{'main.crypto' | translate}}
      </div>
    </div>
  </div>

  <div class="main-separator"></div>

  <h2 class="chart-title">{{'dashboard.statistic' | translate}}</h2>
  <div class="tokens-chart">
    <chart class="dashboard-chart" [options]="chartOptions"></chart>
  </div>

</div>
