@import "../../assets/variables";

.dashboard-page {
  .tokens-stats {
    display: flex;
    padding-bottom: 40px;
    .stats-block {
      width: 33.33%;
      text-align: center;
      word-break: break-word;
    }
    .title {
      font-size: 16px;
    }
    .count {
      margin-top: 15px;
      font-size: 18px;
      font-family: 'sf-ui-text-medium', sans-serif;
      color: $text;
    }
    .blue {
      color: $main-color;
    }
  }

  .chart-title {
    text-align: center;
    font-size: 16px;
  }
  .tokens-chart {
    padding-top: 40px;
    overflow-X: auto;
  }
  .dashboard-chart {
    display: block;
    min-width: 440px;
  }
  .highcharts-container {
    margin: 0 auto;
  }
}
