@font-face {
  font-family: 'bebas-neue-regular';
  src: url('/assets/new_font/Proxima Nova Regular.otf');
  // src: url('/assets/fonts/bebasneue_regular-webfont.woff2') format('woff2'),
  // url('/assets/fonts/bebasneue_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf-ui-text-bold';
  // src: url('/assets/fonts/sfuitext-bold-webfont.woff2') format('woff2'),
  // url('/assets/fonts/sfuitext-bold-webfont.woff') format('woff');
  src: url('/assets/new_font/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf-ui-text-italic';
  // src: url('/assets/fonts/sfuitext-italic-webfont.woff2') format('woff2'),
  // url('/assets/fonts/sfuitext-italic-webfont.woff') format('woff');
  src: url('/assets/new_font/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf-ui-text-medium';
  // src: url('/assets/fonts/sfuitext-medium-webfont.woff2') format('woff2'),
  // url('/assets/fonts/sfuitext-medium-webfont.woff') format('woff');
  src: url('/assets/new_font/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'sf-ui-text-regular';
  // src: url('/assets/fonts/sfuitext-regular-webfont.woff2') format('woff2'),
  // url('/assets/fonts/sfuitext-regular-webfont.woff') format('woff');
  src: url('/assets/new_font/Proxima Nova Regular.otf');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'proxima-nova-regular';
  src: url('/assets/new_font/Proxima Nova Regular.otf');
}

