@mixin user-info($size) {
  width: $size;
  height: $size;
  text-align: center;
  line-height: $size * 1.07;
  font-size: $size / 2.5;
  border-radius: 50%;
  color: white;
  text-transform: uppercase;
  background: $gray;
  &.accepted, &.final_accepted {
    background: $green;
  }
  &.review, &.final_review {
    background: $orange;
  }
  &.declined, &.final_declined {
    background: $red;
  }
}
