
// colors
$text: #818181;
$text-head: #2B2B2B;
$light-bg: #F8F8F8;
$block-bg: #fff;
$text-btn: #fff;
$gray-border: #EDEDED;
$gray-border-2: #95989A;
$gray: #E1D9DA;
$main-color: #36000C;

$orange: #F27D35;
$red: #F8371E;
$green: #71BE5A;
$white : white;

$menu-width: 190px;
$header-height: 80px;
// fonts
$grey: #CCCCCC;
$button: #724C54;
$warning: #C94837;
$size-login: 14px;
$col-login: #B2B2B2;

