// .ng-valid{
//   border-left: 3px solid green;
// }
// .ng-invalid{
//   border-left: 3px solid red;
// }
.ng-invalid input:not(.ng-untouched ){
  border-left:3px solid red;
  }

  .ng-invalid #one{
    background-color:rgba(240, 133, 133, 0.404);
  }
  input:not(.ng-untouched):not(.ng-invalid):not([type='submit']) {
    border-left:3px solid green !important;
  }
