@import "./assets/variables";
@import "./assets/mixins";
@import "./assets/fonts";
@import "./ng-invalid";
html {
  padding: 0;
}
body {
  background: $gray;
  font-family: 'sf-ui-text-regular', sans-serif;
  font-size: 14px;
  color: $text-head;
}

a {
  font-size: 14px;
  color: $gray;
  transition-duration: .5s;
  &:focus, &:hover {
    text-decoration: none;
    color: $text;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-size: 16px;
  font-family: 'sf-ui-text-regular', sans-serif;
  color: $text-head;
}

main {
  min-height: calc(100vh - 80px);
  padding: 40px;
  position: relative;
  &.authed {
    padding-left: $menu-width + 40px;
  }
}

label {
  cursor: pointer;
  margin: 0;
}

.description {
  font-size: 14px;
  color: $text;
}

// .support-footer {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   padding: 0 10px 15px;
//   text-align: center;
//   color: $text;
//   font-size: 10px;
//   img {
//     width: 92px;
//     padding-left: 10px;
//   }
// }

.btn-primary {
  cursor: pointer;
  background: $main-color;
  outline: none;
  border: none;
  font-size: 10px;
  font-family: 'sf-ui-text-bold', sans-serif;
  color: $text-btn;
  text-transform: uppercase;
  &:hover, &:active, &:focus, &:disabled:hover, &.disabled:hover, &:active:hover, &:active:focus, &:disabled, &.disabled {
    background: darken($main-color, 5%);
    outline: none;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
.hidden-outside {
  position: fixed;
  width: 10px;
  left: -100px;
}

/* Forms  */
fieldset {
  margin-bottom: 20px;
}
form {
  .form-control {
    border: 1px solid $gray-border;
    border-radius: 6px;
    padding: 10px 15px;
    color: $text-head;
    font-size: 14px;
    font-family: 'sf-ui-text-regular', sans-serif;
    line-height: 1.25;
    background: transparent;
    &:focus {
      color: inherit;
      border-color: $main-color;
      background: transparent;
    }
  }
  .field-error {
    display: block;
    position: absolute;
    max-width: 100%;
    color: $main-color;
    font-size: 10px;
    text-align: left;
    & + .field-error {
      display: none !important;
    }
  }
  .has-error {
    input {
      border-color: $main-color;
    }
  }
}

.multi-select {
  .select2-container--default {
    border: 0;
    &.select2-container--focus, & {
      .select2-selection--multiple {
        min-height: 120px;
      }
    }
    &.select2-container--focus .select2-selection--multiple {
      border: 1px solid $gray-border;
    }
    .select2-selection--multiple {
      border: 1px solid $gray-border;
      border-radius: 6px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      padding: 10px 15px;
      color: $text-head;
      font-size: 14px;
      font-family: 'sf-ui-text-regular', sans-serif;
      line-height: 1.25;
      background: transparent;
      .select2-selection__choice {
        border-radius: 0;
        border: 0;
        padding: 3px 5px;
        color: $text;
        background: $gray-border;
      }
      .select2-selection__choice__remove:hover {
        color: $text-head;
      }
    }
    .select2-search--inline .select2-search__field {
      color: $text-head;
    }
  }
}

span.select2-container--default {
  .select2-dropdown {
    border: 1px solid $gray-border;
  }
  .select2-results > .select2-results__options {
    background: $block-bg;
    color: $text-head;
  }
  .select2-results__option--highlighted[aria-selected] {
    background: $block-bg;
    color: $main-color;
  }
  .select2-results__option {
    &[aria-selected=true] {
      background: $block-bg;
    }
    border-bottom: 1px solid $gray-border;
    &:last-child {
      border: 0;
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $text !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $text !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $text !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: $text !important;
}

.icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: top;
}

.color-red {
  color: $red;
}
.color-green {
  color: $green;
}
.color-main {
  color: $main-color;
}
.color-gray {
  color: $gray;
}
.color-text {
  color: $text;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white-wrapper {
  margin-bottom: 20px;
  padding: 30px;
  background: $block-bg;
  border-radius: 5px;
  border: 1px solid $gray-border;
}

.main-separator {
  margin: 20px -30px;
  border-top: 1px solid $gray-border;
  &:last-child {
    display: none;
  }
}

.modal.show {
  background: rgba(33, 33, 33, .2);
}

.modal-dialog {
  max-height: calc(100vh - 60px);
  overflow: auto;
  .modal-content {
    background: $block-bg;
    border: 1px solid $gray-border;
    position: relative;
  }
  .modal-header {
    display: block;
    text-align: center;
    border-bottom: 1px solid $gray-border;
  }
  .close-btn {
    cursor: pointer;
    color: $gray-border;
    position: absolute;
    top: 15px;
    right: 15px;
    svg {
      width:  20px;
      height: 20px;
    }
  }
}

// select
.ui-select-container {
  outline: none;
  .btn-secondary {
    &:hover, &:active {
      background-color: $block-bg;
      border-color: $gray-border;
    }
  }
  .dropdown-toggle {
    display: none;
  }
  .ui-select-toggle {
    cursor: pointer;
    &:after {
      content:'\276E';
      position: absolute;
      right: 20px;
      top: 50%;
      transform: rotate(-90deg) translateX(100%);
      color: $gray-border;
      font-size: 12px;
    }
  }
  .form-control, .ui-select-toggle  {
    padding: 10px 15px;
    line-height: 1.25;
  }
  .ui-select-match-text {
    color: $text-head;
  }
  .ui-select-choices-row {
    &.active a {
      background: $main-color !important;
    }
    div {
      color: $text-head;
    }
  }
  &.open > .dropdown-menu {
    display: block;
    background: $block-bg;
    border: 1px solid $gray-border;
  }
}
.custom-checkbox {
  display: none;
  & + label {
    position: relative;
    padding-left: 30px;
    vertical-align: top;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $gray-border;
      border-radius: 5px;
      font-size: 15px;
      text-align: center;
      color: $block-bg;
    }
  }
  &:checked + label:before {
    content: "✔";
    background: $main-color;
  }
}

.custom-radio {
  display: none;
  & + label {
    position: relative;
    padding-left: 35px;
    display: inline-block;
    line-height: 28px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      background: $block-bg;
      border: 6px solid white;
      box-shadow: 0 0 0 1px $gray-border;
      border-radius: 50%;
      font-size: 15px;
      text-align: center;
      color: $text-head;
    }
  }
  &:checked + label:before {
    background: $main-color;
  }
}

.radio-group {
  display: flex;
  .radio-button {
    display: none;
    &:checked + .radio-label {
      background: $main-color;
      color: $block-bg;
    }
  }
  .radio-label {
    color: $main-color;
    padding: 10px 5px;
    border: 1px solid $main-color;
    border-right: none;
    font-size: 14px;
    text-align: center;
    &:first-of-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-of-type {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid $main-color;
    }
    &:hover {
      background: $main-color;
      color: $block-bg;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.menu-button {
  display: none;
  color: $main-color;
  position: absolute;
  z-index: 3000;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  svg {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 767px) {
  body.menuOpened {
    .menu-button.close {
      display: block;
    }
    aside {
      left: 0;
    }
    .menu-shadow {
      display: block;
    }
  }

  main, main.authed {
    padding: 20px;
  }

}
