<label class="file-input" [ngClass]="{active: fileValue}">
  <input
    (change)="handleInputChange($event)"
    placeholder="Enter Apartment or Suite"
    class="form-control form-control-lg"
    type="file"/>
  <span class="file-name form-control">{{fileName}}</span>
  <span class="select-file">Select File</span>
</label>
