@import "../../../assets/variables";

.file-input {
  display: block;
  width: 100%;
  cursor: pointer;
  position: relative;
  input {
    display: none;
  }
  &.active {
    .file-name {
      color: $text-head;
    }
  }
  .file-name {
    display: block;
    border-radius: 6px;
    border: 1px solid $gray-border;
    background: $block-bg;
    padding: 10px 140px 10px 15px;
    color: $text;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .select-file {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 30px;
    text-align: center;
    border: 1px solid $gray-border;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: $text;
    background: $light-bg;
    line-height: 1.25;
  }
}
