<div class="history-component">
  <p class="text-center" *ngIf="!(tokensData && tokensData.length)">No transactions yet</p>
  <div class="scroll-wrapper">
    <div class="table-wrapper" *ngIf="tokensData && tokensData.length">
      <table class="history-table">
        <thead>
        <tr>
          <th>Wallet</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Tokens</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tokensData">
          <td>{{item.address}}</td>
          <td>{{+item.amount}} {{item.type}}</td>
          <td>{{item.at}}</td>
          <td>{{item.tokens}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="total" *ngIf="tokensData && tokensData.length">
    Total: <span class="highlight">{{total}}</span>
  </div>
</div>
