@import "../../../assets/variables";

.history-component {
  .scroll-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
  .table-wrapper {
    border-radius: 5px;
    border: 1px solid $gray-border;
    overflow: hidden;
    min-width: 600px;
    width: 100%;
  }
  .history-table {
    width: 100%;
    thead {
      background: $gray-border;
    }
    tbody {
      background: $block-bg;
    }
    th {
      font-size: 12px;
      font-family: 'sf-ui-text-medium', sans-serif;
      color: $text;
    }
    tr:last-child td {
      border-bottom: 0;
    }
    td {
      color: $text;
      width: 40%;
      &:nth-child(2) {
        color: $text-head;
        width: 25%;
      }
      &:nth-child(3) {
        width: 25%;
      }
      &:nth-child(4) {
        color: $text-head;
        width: 10%;
      }
    }
    td, th {
      padding: 11px 12px 12px;
      border-bottom: 1px solid $gray-border;
    }
  }
  .total {
    margin-top: 20px;
    text-align: right;
    color: $text;
    font-size: 16px;
    font-family: 'sf-ui-text-medium', sans-serif;
    .highlight {
      color: $text-head;
      padding-left: 10px;
    }
  }
}
